<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <div class="error-container">
            <h1>500 - Internal Server Error</h1>
            <p>Oops! Something went wrong on our end. Please try again later.</p>
            <a href="/" class="back-home">Go Back Home</a>
        </div>
        <%- include('../includes/end.ejs') %>